body {
    width: 1200px;
    margin: 0 auto;
    padding: 0;
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
    color:#333333;
    font-family: 'PT Sans', sans-serif;
    text-transform: uppercase;
}

h2, h3 {
    font-size: 30px;
    line-height: 24px;
    font-weight: bold;
    color:#000000;
    margin: 0;
    padding: 0;
}

h3 {
    font-size: 21px;
    line-height: 21px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.main-container {
    position: relative;
}

.main-header {
    min-height: 56px;
}

.main-navigation {
    width: 1055px;
    margin: 0 auto;
    min-height: 56px;
    position: relative;
}

.main-navigation a {
   color: #000000;
   text-decoration: none; 
}

.main-navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0;
}

.main-navigation li {
    color: #000000;
    text-decoration: none; 
    display: inline-block;
    vertical-align: top;
    font-weight: bold;
    font-size: 14px;
    line-height: 26px;
    position: absolute;
    padding-top: 15px;
    padding-bottom: 15px;
}

.main-navigation li:nth-child(1){
    left: 0;
}

.main-navigation li:nth-child(2){
    left: 240px;
}

.main-navigation li:nth-child(3){
    right: 240px;
    text-align: right;
}

.main-navigation li:nth-child(4){
    right: 0;
    text-align: right;
}

.logo {
    position: absolute;
    top: 0;
    right: 50%;
    margin-right: -70px;
}

.postcard {
    width: 100%;
    height: 510px;
    background: url("../img/wellcome.png") no-repeat 50% 46%, 
    url("../img/white-shape.png") no-repeat 0px 453px,
    url("../img/back-foto.jpg") no-repeat 0 0;
}
.sedona-town {
    text-align: center;
    padding-top: 60px;
    padding-bottom: 38px;
    
}

.sedona-town b{
    font-size: 21px;
    line-height: 26px;
    margin-bottom: 25px;
    display: block;
}

.sedona-town p {
    line-height: 26px;
    padding: 0;
}

.reason-container {
    min-height: 255px;
}

.reason {
    width: 400px;
    min-height: 255px;
    float: left;
    text-align: center;
    padding-top: 53px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 47px;
    box-sizing: border-box;
    background-color: #eeeeee;
}

.reason.reason-blue {
    background-color: #81b3d2;
    color: white;
}

.horiz-town {
    width: 800px;
    float: right;
}

.reason.reason-blue h3 {
    color: white;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
}

.features {
    min-height: 330px;
}
.features-house, .features-food, .features-souvenirs {
    float: left;
    width: 400px;
    min-height: 330px;
    text-align: center;
}

.features h3{
    padding-top: 161px;
    padding-bottom: 12px;
}

.features-house {
    background: url("../img/house-icon.png") no-repeat 50% 23%;
}

.features-food {
    background: url("../img/burger-icon.png") no-repeat 50% 23%;  
}

.features-souvenirs{
    background: url("../img/present-icon.png") no-repeat 50% 23%;
}

.horiz-rocks {
    width: 800px;
    float: left;   
}

.interest {
    width: 575px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 53px;
}
.interest h2{
    padding-top: 57px;
    margin-bottom: 32px;
}
.form-header {
    width: 505px;
    display: block;
    margin: 0 auto;
    color: white;
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
    background-color: #766357;
    text-decoration: none;
    text-align: center;
    padding: 30px;
}

.main-footer {
    padding-top: 36px;
    padding-bottom: 36px;
    padding-left: 72px;
    padding-right: 72px;
    background: white;
    opacity: 0.9;
    position: absolute;
    bottom: 0;
}

.inside-page .main-footer{
    position: static;
}

.visit {
    width: 177px;
    min-height: 48px;
    display: inline-block;
    vertical-align: middle;
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
    padding-left: 60px;
    padding-top: 12px;
    vertical-align: middle;
}

.footer-social {
    min-width: 400px;
    min-height: 48px;
    display: inline-block;
    vertical-align: top;
    margin-left: 88px;
    margin-right: 88px;
    text-align: center;
}

.footer-social a {
    font-size: 0;
}

.social-btn {
    display: inline-block;
    margin: 0 auto;
    width: 46px;
    height: 48px;
    background: #81b3d2;
    text-align: center;
    margin: 0 2px;
    position: relative;
}

.social-btn:hover{
    background: #669ec0;
}

.social-btn:active{
    background: #5496bd;
}

.social-btn::before{
    content: "";
    position: absolute;
    display: block;
    width: 21px;
    height: 19px;
    background: url("../img/social-sprite.png") no-repeat;
    left: 16px;
    top: 13px;
}
.social-btn:active::before {
   opacity: 0.3; 
}

.social-btn-fb::before {
   background-position: -52px 0; 
}

.social-btn-yt::before {
   background-position: -105px 0; 
}

.footer-copyright {
    width: 235px;
    min-height: 48px;
    display: inline-block;
    vertical-align: top;
}

.footer-copyright .btn {
    width: 235px;
    height: 40px;
    display: inline-block;
    margin-top: 2px;
    padding-left: 6px;
    padding-top: 10px;
    text-decoration: none;
    color: #000000;
    background: url("../img/html-logo.png") no-repeat top 0 right 30px;  
    box-sizing: border-box;
}
.footer-copyright .btn:hover{
    background-position: top -48px right 30px;
}

.footer-copyright .btn:active{
    background-position: top -95px right 30px;
}
.date {
    width: 565px;
    min-height: 390px;
    display: none;
    margin: 0 auto;
    outline: 2px solid saddlebrown;    
}
/* hotels */

.filter {
    min-height: 218px;
    padding: 30px 72px;
    background: #2a3c46 url("../img/back2.jpg") no-repeat 50% 50%;
    color: white;
    box-sizing: border-box;
}

.infrastructure, .housing {
    width: 240px;
    float: left;
    margin-right: 15px;
    min-height: 153px;
    outline: 2px solid darkcyan;
}

.price {
    width: 328px;
    float: right;
    min-height: 153px;
    outline: 2px solid darkcyan;
}

.sort {
    width: 1055px;
    min-height: 87px;
    margin: 0 auto;
    position: relative;
}

.arrows {
    position: absolute;
    width: 36px;
    height: 15px;
    top: 37px;
    right: 0;
}

.btn-up, .btn-down {
    display: inline-block;
    vertical-align: top;
    width: 16px;
    height: 14px;
    background: url("../img/arrows.png") no-repeat;
}

.btn-up{
    background-position: 2px 2px;
}

.btn-down {
    background-position: 2px -24px;
    transform: rotate(180deg);
}

.found {
    padding-top: 33px;
}

.name-price h3 {
    padding: 0;
    margin: 0;
    line-height: 21px;
    margin-bottom: 8px;
}

.name-price h3:hover {
    color: #81b3d2;
}

.name-price h3:active {
    color:#cacaca;
}

.name, .min-price {
    display: inline-block;
    vertical-align: middle;
    width: 110px;
    padding: 0;
    margin-top: 0;
    margin-bottom: 10px;
    margin-right: 3px;
}

.btn-details, .btn-book {
    display: inline-block;
    vertical-align: middle;
    height: 26px;
    color: white;
    text-decoration: none;
    bottom: 0;
    left: 0;
    margin-right: 3px;
    font-size: 14px;
    font-weight: bold;
    line-height: 21px;
    padding-top: 4px;
    padding-left: 17px;
    padding-right: 17px;
    padding-bottom: 0px; 
    background-color: steelblue;
}

.btn-details {
    background: #81b3d2;
}

.btn-details:hover {
    background: #669ec0;
}

.btn-details:active {
    background: #5496bd;
    color: #88b6d1;
}

.btn-book{
    background: #766357;
}

.btn-book:hover {
    background: #604e43;
}

.btn-book:active {
    background: #503e33;
    color: #857871;
}

.found, .type-sort {
    display: inline-block;
}

.hotels{
    border-top: 1px solid #e5e5e5;
}

.hotels-item {
    min-height: 90px;
    padding: 30px 72px;
    border-bottom: 1px solid #e5e5e5;
}

.preview {
    width: 135px;
    height: 90px;
    float: left;
    margin-right: 30px;
    background-color: forestgreen;
}

.name-price {
    width: 363px;
    min-height: 90px;
    float: left;
}

.level {
    width: 110px;
    min-height: 90px;
    float: right;
    position: relative;
}

.rating{
    position: absolute;
    bottom: 0;
    width: 110px;
    background: #f2f2f2;
    color: black;
    padding: 7px 0px;
    text-align: center;
}

.stars{
    position: absolute;
    top: 0;
    width: 110px;
    height: 18px;
    background: url("../img/stars.png") no-repeat;
}

.stars-four{
    background-position: 22px;
}

.stars-tree{
    background-position: 44px;
}

.stars-two{
    background-position: 66px;
}

