body {
    width: 1200px;
    margin: 0 auto;
    padding: 0;
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
    color:#333333;
    font-family: 'PT Sans', sans-serif;
    text-transform: uppercase;
}

h2, h3 {
    font-size: 30px;
    line-height: 24px;
    font-weight: bold;
    color:#000000;
    margin: 0;
    padding: 0;
}

h3 {
    font-size: 21px;
    line-height: 21px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.main-header {
    min-height: 56px;
}

.main-navigation {
    width: 1055px;
    margin: 0 auto;
    min-height: 56px;
    position: relative;
}

.main-navigation a {
   color: #000000;
   text-decoration: none; 
}

.main-navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0;
}

.main-navigation li {
    color: #000000;
    text-decoration: none; 
    display: inline-block;
    vertical-align: top;
    font-weight: bold;
    font-size: 14px;
    line-height: 26px;
    position: absolute;
    padding-top: 15px;
    padding-bottom: 15px;
}

.main-navigation li:nth-child(1){
    left: 0;
}

.main-navigation li:nth-child(2){
    left: 240px;
}

.main-navigation li:nth-child(3){
    right: 240px;
    text-align: right;
}

.main-navigation li:nth-child(4){
    right: 0;
    text-align: right;
}

.logo {
    position: absolute;
    top: 0;
    right: 50%;
    margin-right: -70px;
}

.postcard {
    width: 100%;
    height: 510px;
    background: url("../img/wellcome.png") no-repeat 50% 46%, 
    url("../img/white-shape.png") no-repeat 0px 453px,
    url("../img/back-foto.jpg") no-repeat 0 0;
}
.sedona-town {
    text-align: center;
    padding-top: 60px;
    padding-bottom: 38px;
    
}

.sedona-town b{
    font-size: 21px;
    line-height: 26px;
    margin-bottom: 25px;
    display: block;
}

.sedona-town p {
    line-height: 26px;
    padding: 0;
    
}

.reason-container {
    min-height: 255px;
}

.reason {
    width: 400px;
    min-height: 255px;
    float: left;
    text-align: center;
    padding-top: 53px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 47px;
    box-sizing: border-box;
    background-color: #eeeeee;
}

.reason.reason-blue {
    background-color: #81b3d2;
    color: white;
}

.horiz-town {
    width: 800px;
    float: right;
}

.reason.reason-blue h3 {
    color: white;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
}

.features {
    min-height: 330px;
}
.features-house, .features-food, .features-souvenirs {
    float: left;
    width: 400px;
    min-height: 330px;
    text-align: center;
}

.features h3{
    padding-top: 161px;
    padding-bottom: 12px;
}

.features-house {
    background: url("../img/house-icon.png") no-repeat 50% 23%;
}

.features-food {
    background: url("../img/burger-icon.png") no-repeat 50% 23%;  
}

.features-souvenirs{
    background: url("../img/present-icon.png") no-repeat 50% 23%;
}

.horiz-rocks {
    width: 800px;
    float: left;   
}

.interest {
    width: 575px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 53px;
}
.interest h2{
    padding-top: 57px;
    margin-bottom: 32px;
}
.form-header {
    width: 505px;
    display: block;
    margin: 0 auto;
    color: white;
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
    background-color: #766357;
    text-decoration: none;
    text-align: center;
    padding: 30px;
}

.main-footer {
    padding-top: 28px;
    padding-bottom: 36px;
    padding-left: 72px;
    padding-right: 72px;
    
    outline: 2px solid gray;
}

.visit {
    width: 235px;
    min-height: 48px;
    display: inline-block;
    vertical-align: top;
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
    outline: 2px solid mediumseagreen;
}

.footer-social {
    width: 400px;
    min-height: 48px;
    display: inline-block;
    vertical-align: top;
    margin-left: 88px;
    margin-right: 88px;
    outline: 2px solid mediumseagreen;
}

.footer-copyright {
    width: 235px;
    min-height: 48px;
    display: inline-block;
    vertical-align: top;
    outline: 2px solid mediumseagreen;
}

.date {
    width: 565px;
    min-height: 390px;
    display: none;
    margin: 0 auto;
    outline: 2px solid saddlebrown;    
}
/* hotels */

.filter {
    min-height: 214px;
    padding: 30px 72px;
    outline: 2px solid darkcyan;
}

.infrastructure, .housing {
    width: 240px;
    float: left;
    margin-right: 15px;
    min-height: 153px;
    outline: 2px solid darkcyan;
}

.price {
    width: 328px;
    float: right;
    min-height: 153px;
    outline: 2px solid darkcyan;
}

.sort {
    width: 1055px;
    min-height: 87px;
    margin: 0 auto;
    outline: 2px solid rebeccapurple;
}

.found, .type-sort {
    display: inline-block;
}

.hotels-item {
    min-height: 150px;
    outline: 2px solid darkcyan;
    padding: 0 72px;
}

.preview {
    width: 135px;
    min-height: 150px;
    float: left;
    margin-right: 30px;
    outline: 1px solid rebeccapurple;
}

.name-price {
    width: 363px;
    min-height: 150px;
    float: left;
    outline: 1px solid rebeccapurple;
}

.level {
    width: 150px;
    min-height: 150px;
    float: right;
    outline: 1px solid rebeccapurple;
}